<script>
	import Counter from './Counter.svelte';
</script>

<svelte:head>
	<title>Home</title>
	<meta name="description" content="Svelte demo app" />
</svelte:head>

<section>
	
	<h1 class="p-3">Home Page</h1>
	<div>

		<Counter />
	</div>
	<a href="/room/1">Go To Room 1</a>

</section>

<style lang="postcss">
	
</style>
