<script lang="ts">
	import { page } from '$app/stores';
	import { onMount } from 'svelte';
	import websocketConnection from '$lib/connections/websocketConnection';

	const roomId: string = $page.params.id;
	let connected: boolean = false;

	onMount(() => {
		websocketConnection.connectedSubscribe((wsConnected) => {
			connected = wsConnected;
		});
	});
</script>

<div class="flex justify-between w-full bg-zinc-900 px-2 py-1 text-white">
	<div>
		{#if roomId}
			<p>Room: {roomId}</p>
		{/if}
		{#if connected}
			<p>Connected!</p>
		{:else}
			<p>Not Connected!</p>
		{/if}
	</div>
	<div>
		<!-- Other stuff -->
		test
	</div>
</div>
