<script lang="ts">
	import websocketConnection from '$lib/connections/websocketConnection';

	let value = '';
	let minRows = 1;
	let maxRows = 25;

	// Should send Chat message
	function sendMessage() {
		websocketConnection.sendMessage(value);
		value = "";
	}

	$: minHeight = `${1 + minRows * 1.2}em`;
	$: maxHeight = maxRows ? `${1 + maxRows * 1.2}em` : `auto`;
</script>

<div
	class="flex flex-col-reverse w-full content-center items-center justify-center absolute bottom pb-2 m-0 box-border w-[94%] z-20"
>
	<div
		class="flex flex-col container items-center justify-end relative"
	>
		<div class="flex flex-col container justify-end">
			<pre
				aria-hidden="true"
				class="pl-7 py-3 w-full bg-white relative"
				style="min-height: {minHeight}; max-height: {maxHeight};">{value}
				<button
					class="w-6 h-6 rounded-full absolute top-2 left-3 z-10 bg-gray-700	hover:bg-blue-700 text-white font-bold text-center text-l"
					on:click={sendMessage}
					aria-label="Post message"
				>+</button>
            </pre>
			<textarea class="ml-7 w-[98%] pl-7 py-3" bind:value />
		</div>
	</div>
</div>

<style lang="postcss">
	.container {
		position: relative;
	}

	pre,
	textarea {
		font-family: inherit;
		box-sizing: border-box;
		line-height: 1.2;
		overflow: hidden;
		white-space: pre-wrap; /* Since CSS 2.1 */
		white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
		white-space: -pre-wrap; /* Opera 4-6 */
		white-space: -o-pre-wrap; /* Opera 7 */
		word-wrap: break-word; /* Internet Explorer 5.5+ */
	}

	textarea {
		position: absolute;
		line-break: auto;
		height: 100%;
		bottom: 0;
		resize: none;
		overflow-y: auto;
	}

	textarea:focus {
		outline: none;
	}
</style>
