<script lang="ts">
	import websocketConnection from '$lib/connections/websocketConnection';
	import type { publicMessage } from '$lib/types/messages/messages';
	import { createEventDispatcher } from 'svelte';

	const dispatch = createEventDispatcher();

	export let message: publicMessage;
	export let value = message.message;
	let minRows = 1;
	let maxRows = 25;

	// Should send Chat message
	function sendMessage() {
		websocketConnection.editMessage(value, message);
		dispatch('exitEditMode');
	}

	$: minHeight = `${1 + minRows * 1.2}em`;
	$: maxHeight = maxRows ? `${1 + maxRows * 1.2}em` : `auto`;
</script>

<div class="flex relative w-full">
	<pre
		aria-hidden="true"
		class="w-full bg-white relative m-0"
		style="min-height: {minHeight}; max-height: {maxHeight};">
		{value}
		
	</pre>
	<textarea class="bg-zinc-700 w-full" bind:value />
</div>
<div>
	<button
		aria-label="edit message"
		class="h-8 p-1 my-1 bg-gray-700 hover:bg-blue-700 text-white leading-normal font-bold text-center text-l"
		on:click={sendMessage}
	>
		Save
	</button>
	<button
		class="h-8 p-1 my-1 bg-red-700 hover:bg-red-600 text-white font-bold text-center text-l"
		aria-label="cancel editing"
		on:click={() => dispatch('exitEditMode')}
		>Cancel</button
	>
</div>

<style lang="postcss">
	pre,
	textarea {
		font-family: inherit;
		box-sizing: border-box;
		line-height: 1.2;
		overflow: hidden;
		white-space: pre-wrap; /* Since CSS 2.1 */
		white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
		white-space: -pre-wrap; /* Opera 4-6 */
		white-space: -o-pre-wrap; /* Opera 7 */
		word-wrap: break-word; /* Internet Explorer 5.5+ */
	}

	textarea {
		position: absolute;
		line-break: auto;
		height: 100%;
		bottom: 0;
		resize: none;
		overflow-y: auto;
	}

	textarea:focus {
		outline: none;
	}
</style>
