<script lang="ts">
	let visible = true;
</script>

{#if visible === true}
	<div class="h-full w-[15vw] min-4 bg-zinc-900">
		<button class="bg-red-500 text-white" on:click={() => (visible = false)}> X </button>
	</div>
{:else}
	<button class="bg-zinc-900 text-white" on:click={() => (visible = true)}> X </button>
{/if}
