<script lang="ts">
	
	// export let message: publicMessage;

</script>

<div
	class="border-silver-500 flex flex-col justify-center w-[90%] whitespace-pre-wrap break-words p-4 box-border bg-zinc-800 text-white text-m"
>
<p class="message italic">This message has been deleted</p>
</div>

<style lang="postcss">
	.message {
		white-space: pre-wrap;
	}
	.border-silver-500 {
		border: hsl(0, 3%, 30%) solid 1px;
	}
</style>
