<script lang="ts">
	import { handleClickOutside } from '$lib/utilis/click_outside';
	import type { publicMessage } from '$lib/types/messages/messages';
	import dayjs from 'dayjs';
	import EditMessagebox from '../messagebox/editMessagebox.svelte';
	import websocketConnection from '$lib/connections/websocketConnection';

	export let message: publicMessage;

	let menuOpen = false;
	let editModeOpen = false;
	let deleteModeOpen = false;

	function deleteMessage() {
		websocketConnection.deleteMessage(message);
	}

	function closeEditModeHandler() {
		editModeOpen = false;
		menuOpen = false;
	}
</script>

<div
	class="border-silver-500 flex flex-col justify-center w-[90%] whitespace-pre-wrap break-words p-4 box-border bg-zinc-800 text-white text-m"
>
	<div class="flex w-full justify-between">
		<div class="flex gap-2 items-center">
			<p class="text-green-400 mb-1 font-semibold">{message.from}</p>
			<div class="flex flex-col">
				<p class="text-gray-200 text-xs italic">
					{dayjs(message.sent, 'yyyy-MM-dd HH:mm:ss').format('MM/DD/YYYY h:mm a')}
				</p>
				{#if message.status === 'edited'}
					<p class="text-gray-200 text-xs italic">
						(last edited on: {dayjs(message.lastChangeDate, 'yyyy-MM-dd HH:mm:ss').format(
							'MM/DD/YYYY h:mm a'
						)})
					</p>
				{/if}
			</div>
		</div>

		<button class="flex justify-between relative" on:click={() => (menuOpen = true)}>
			...
			{#if menuOpen === true}
				<div
					class="relative"
					use:handleClickOutside
					on:outclick={() => {
						menuOpen = false;
					}}
				>
					<div class="flex flex-col justify-between absolute top-1 right-0 z-10 drop-shadow-m">
						<div class="bg-zinc-900 hover:bg-zinc-700 py-2 px-4">
							<p class="cursor-pointer">Reply</p>
						</div>
						<button
							class="cursor-pointer bg-zinc-900 hover:bg-zinc-700 py-2 px-4"
							on:click={(e) => {
								e.preventDefault();
								e.stopPropagation();

								menuOpen = false;
								editModeOpen = true;
							}}
						>
							Edit
						</button>
						<button
							class="cursor-pointer bg-zinc-900 hover:bg-red-700 py-2 px-4"
							on:click={(e) => {
								e.preventDefault();
								e.stopPropagation();

								menuOpen = false;
								deleteModeOpen = true;
							}}
						>
							Delete
						</button>
					</div>
				</div>
			{/if}
		</button>
	</div>

	{#if editModeOpen}
		<EditMessagebox {message} on:exitEditMode={closeEditModeHandler} />
	{:else if deleteModeOpen}
		<p class="message">{message.message}</p>
		<button 
			class="cursor-pointer bg-red-900 hover:bg-red-700 -auto py-2 px-4"
			on:click={deleteMessage}
		>Delete</button>
		<button
			class="cursor-pointer hover:underline py-2 px-4"
			on:click={() => {
				deleteModeOpen = false;
			}}>Cancel</button
		>
	{:else}
		<p class="message">{message.message}</p>
	{/if}
</div>

<style lang="postcss">
	.message {
		white-space: pre-wrap;
	}
	.border-silver-500 {
		border: hsl(0, 3%, 30%) solid 1px;
	}
</style>
