<script lang="ts">
	import { onMount } from 'svelte';
	import websocketConnection from '$lib/connections/websocketConnection';
	import Message from '../../../lib/components/message/message.svelte';
	import CreateMessagebox from '$lib/components/messagebox/createMessagebox.svelte';
	import RoomNav from '../../../lib/components/nav/roomNav/roomNav.svelte';
	import UserNav from '../../../lib/components/nav/userNav/userNav.svelte';
	import InfoNav from '$lib/components/nav/topNav/infoNav.svelte';
	import type { publicMessage } from '$lib/types/messages/messages';
	import DeletedMessage from '$lib/components/message/deletedMessage.svelte';

	let messages: publicMessage[] = [];

	onMount(() => {
		websocketConnection.startWebsocket();
		websocketConnection.messageSubscribe((newMessages) => {
			messages = newMessages;
		});
	});

	// Close Connection on dismount
</script>

<!-- Left Bar -->
<div class="flex h-screen w-screen">
	<RoomNav />

	<!-- Main Content -->
	<section class="h-full w-full flex flex-col-reverse relative items-center">
		<!-- message box -->
		<CreateMessagebox />

		<!-- content box -->
		<div
			class="pb-[7rem] flex flex-col h-full w-full justify-self-end m-auto overflow-y-auto items-center"
		>
			{#if messages.length > 0}
				{#each messages as _, i}
					{#if messages[i] != undefined}
						{#if messages[i].status === "deleted"}
						<DeletedMessage></DeletedMessage>
						{:else}
						<Message message={messages[i]} />
						{/if}			
					{/if}
				{/each}
			{:else}
				<p />
			{/if}
		</div>
		<InfoNav />
	</section>

	<!-- Right Bar -->
	<UserNav />
</div>
